/* LIGHT MODE */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --sidebar-bg: #ffffff;
  --chat-bg: #ffffff;
  --bubble-me: #1877f2;
  --bubble-other: #e5e7eb;
  --text-color-me: #ffffff;
  --border-color: #e5e5e5;
}

/* DARK MODE */
[data-theme="dark"] {
  --bg-color: #111111;
  --text-color: #e4e4e4;
  --sidebar-bg: #1a1a1a;
  --chat-bg: #2a2a2a;
  --bubble-me: #0084ff;
  --bubble-other: #4e4d4d;
  --text-color-me: #ffffff;
  --border-color: #333333;
}

/* dùng biến */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.sidebar {
  background-color: var(--sidebar-bg);
}

.chat {
  background-color: var(--chat-bg);
}

.message-bubble.me {
  background-color: var(--bubble-me);
  color: white;
}

.message-bubble.other {
  background-color: var(--bubble-other);
  color: white;
}
